$assets: '.';
$fa-font-path: '#{$assets}/fonts';
$icon: 'FontAwesome';
$font: 'Lato', sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$heavy: 900;
$color-main: rgba(12, 111, 156, 1);
$gray: rgba(86, 86, 86, 1);
$facebook-light: rgba(139, 157, 195, 1);
$facebook: rgba(59, 89, 152, 1);
$header-bg: rgba(239, 239, 239, 1);
$footer-bg: rgba(98, 98, 100, 1);
$button-bg: rgba(17, 136, 190, 1);
$button-bg--hover: rgba(12, 111, 156, 1);
$button-bg--disabled: rgba(17, 136, 190, .4);
$input-border: rgba(205, 205, 205, 1);
$input-error: rgba(255, 0, 0, 1);
$tablet: 768px;
$ipad: 1024px;
$desktop: 1280px;
$grid-max-width: 1280px;