//$assets: '.';

$font: "Lato", sans-serif;

$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;
$weight-heavy: 900;

$color-blue: rgba(12, 111, 156, 1);
$color-gray: rgba(86, 86, 86, 1);

$breakpoint-tablet: 768px;
$breakpoint-ipad: 1024px;
$breakpoint-desktop: 1280px;
$breakpoint-grid-max-width: 1280px;
