html {
  font-size: 100%;
  font-family: $font;
  font-weight: $weight-regular;
}

b,
strong {
  font-weight: $weight-bold;
}

.title {
  font-weight: $weight-heavy;
  font-size: rem(32);
}

.subtitle {
  font-weight: $weight-bold;
  font-size: rem(24);
}

.paragraph {
  font-weight: $weight-regular;
  font-size: rem(16);
}
